### Creating SQL Tables for Project Data

In [1]:
#load library
import pandas as pd
import sqlite3 as sq

#connect to the database, which - in the case of sqlite
conn = sq.connect("project_data.db")
c = conn.cursor()

In [4]:
#load dataframe and check data types before creating SQL table
ca_fires = pd.read_csv("california_monthly_county_wildfire_acreage.csv")
ca_fires.dtypes

county             object
year              float64
month             float64
wildfire_acres    float64
dtype: object

**Creating table for wildfire data**

In [10]:
#create table for county-month level fire data

#drop table first if edits are needed
c.execute(""" DROP TABLE IF EXISTS wildfires """)

#create new wildfires table
c.execute(""" CREATE TABLE wildfires (
            county VARCHAR(50),
            year FLOAT (6),
            month FLOAT(3),
            wildfire_acres FLOAT (25)
            ) """)

In [18]:
#inspecting data frame for SQL table
prism = pd.read_csv("all_county_prism_data.csv")
prism.head()
prism.dtypes
#print(prism.columns)

county_name                 object
county_fips                  int64
year                         int64
month                        int64
date                        object
precipitation_total_km3    float64
max_temperature_c          float64
dtype: object

**Creating table for prism data**

In [19]:
#drop table if edits are needed
c.execute(""" DROP TABLE IF EXISTS prism """)


#create new table for prism data
c.execute(""" CREATE TABLE prism (
            county_name VARCHAR(50),
            county_fips INT(10),
            year INT(5),
            month INT(3),
            date DATE,
            precipitation_total_km3 FLOAT (25),
            max_temperature_c FLOAT (10)
            ) """)

**Creating table for CDC WONDER mortality data**

In [23]:
#inspecting data frame for SQL table
cdc = pd.read_csv("cdc-hyperthermia-related-deaths.csv")
cdc.head()
cdc.dtypes
#print(prism.columns)

State           object
County          object
County Code    float64
Year           float64
Month          float64
Deaths          object
Population      object
Crude Rate      object
dtype: object

In [ ]:
#drop table first if edits are needed
c.execute(""" DROP TABLE IF EXISTS mortality """)

#create new table for mortality data
c.execute(""" CREATE TABLE mortality (
            state VARCHAR(50),
            county INT(10),
            county_code INT(5),
            year FLOAT(5),
            month FLOAT(3),
            deaths VARCHAR(50),
            population VARCHAR(50),
            crude_rate VARCHAR(50)
            ) """)